*{
    margin: 0;
    padding: 0;
}

body,
select{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
}

.container{
    max-width: 20%;
    height:420px ;
    margin: auto;
    padding: 30px;
    margin-top: 40px;
    text-align: left;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

 input{
    width: 90%;
    height: 15px;
    padding:10px;
    margin-top: 10px;
    font-size: 1em;
    outline: none;
}

input[type=text] {
    border: none;
    border-bottom: 2px solid #10B87B;
  }

  select {
    background-color: white;
    color: black;
    padding: 8px;
    width: 200px;
    margin-top: 30px;
    border: none;
    font-size: 20px;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    appearance: button;
    outline: none;
  }
  button{
    height: 40px;
    width: 100%;
    font-size: 20px;
    margin-top: 20px;
	color:rgba(255,255,255,1);
	cursor: pointer;
	letter-spacing: 2px;
	border: none;
	background:#10B87B;
}
h3 {
    text-align: center;
    font-family: 'Courgette', cursive;
}

@media (max-width: 360px) {
    
    .container{
       
        max-width: 60%;
        height:520px ;
        
       
    }

    
    
}
